@tailwind base;
@tailwind components;

input {
  @apply p-2 rounded-md outline-none;
}

th, td {
  @apply border;
  min-width: 120px;
}

.carousel-peek .carousel__slider {
  overflow: visible;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input {
  @apply text-black;
}

@tailwind utilities;